PORT = 8080
MONGO_DB_URI = mongodb+srv://kfakeid9:Jobijobi123@musicdb.iynhxvi.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET = 2A3c
EMAIL_SERVICE = gmail
EMAIL_ID = mohanishxservice@gmail.com
# Use the app password obtained after enabling 2-factor authentication in Gmail
EMAIL_PASSWORD = bkqz hial clzf gbyb
